#homepage
  %h1
    = t('app_name')
  %span#bug.fa.fa-bug
  #homepage-timer-falstart
    .inner{'data-when' => '2015-04-16 21:26', :title => 'Falstart?'}
  #homepage-timer{'data-when' => '2015-04-21 21:26'}

  =# render 'shared/fb_like_page'