/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/config/*.yml
/Guardfile
.rvmrc
/tags
app/.DS_Store
.DS_Store
/public/system
/public/assets
/public/temporary
/.sass-cache
/.idea
/coverage
coverage*
log/sunspot-solr*
nbproject
solr/data/
solr/pids/
/Capfile
config/unicorn.rb
