class DynamicFacebookComments
  constructor: ->
    $('#post-comments-hidden').on 'click', 'a', (event) =>
      event.preventDefault()
      @activateFbBox()
      false

  activateFbBox: ->
    fb_init_button = $('#post-comments-hidden a')
    fb_init_button.html(fb_init_button.data('loading-message'))
    fb_comments_section = $('#fb-comments-unloaded')
    return unless fb_comments_section?
    fb_comments_section.addClass 'fb-comments'
    if typeof FB != 'undefined'
      FB.XFBML.parse document.getElementById('post-comments'), () ->
        fb_init_button.hide()
        $('#post-fb-like').css('top', '1.2em')

class PostImagesGallery
  constructor: ->
    $('#post-content .image-gallery, #post-content img').magnificPopup
      type: 'image'
      gallery:
        enabled: true
        preload: [1,2]
        navigateByImgClick: true
        tPrev: '<%= I18n.t('gallery.previous') %>'
        tNext: '<%= I18n.t('gallery.next') %>'
        tCounter: '<span class="mfp-counter"> <%= I18n.t('gallery.counter') %></span>'
      tClose: '<%= I18n.t('gallery.close') %>'
      callbacks:
        elementParse: (item) ->
          if item.el.prop('tagName') == "IMG" && item.el.attr('src')
            item.src = item.el.attr('src')

$ ->
  new DynamicFacebookComments if $('#post-comments').length > 0
  new PostImagesGallery if $('#post-content').length > 0