#homepage
  h1
    color: white
    font-size: 6em
    text-transform: uppercase
    font-family: 'Oswald', sans-serif 
    text-align: right
    margin: 0.3em
    //+transition(font-size 0.4s linear)
  #homepage-timer
    font-size: 2em
    text-align: right
    margin: 2em
    color: white
  #bug
    color: #333
    font-size: 2em
    position: absolute
    right: 11.8em
    top: 2.7em
    +rotate(28deg)