@import variables
@import vendor/magnific_popup
@import parallax
@import homepage
@import posts

body
  font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif
  font-size: 20px
  line-height: $line-height
  color: $text-color
  margin: 0
  text-align: center

  a
    color: $text-color
    text-decoration: none

  @media (max-width: $break-large)
    font-size: 18px
  @media (max-width: $break-medium)
    font-size: 16px
  @media (max-width: $break-small)
    font-size: 14px
  @media (max-width: $break-tiny)
    font-size: 12px

  h1
    color: $inverted-text-color
    font-size: 3.8em
    text-transform: uppercase
    text-align: right
    margin: 0.5em
    text-shadow: 0 0 2px #88a
    letter-spacing: -2px
    a
      color: $inverted-text-color
      text-decoration: none
      &:hover
        color: $inverted-text-color

  h2
    text-transform: uppercase
    color: $text-color
    font-size: 1.6em
    margin: 0 0.5em
  h3
    color: $text-color
    font-size: 1em
    margin: 0 0.5em

  navigation
    top: 0
    left: 0.7em
    width: 2em
    height: 1.5em
    z-index: 999
    background-color: rgba(240,240,240,0.4)
    +border-radius(0 0 5px 5px)
    position: fixed
    +transition(margin-top 0.4s linear)
    &:hover
      background-color: #fff
    a
      display: block
      position: absolute
      bottom: 0
      color: $text-color
      width: 100%
      .fa
        display: block
        position: absolute
        bottom: 0
        width: 100%
        text-align: center
        margin-bottom: 5px
    #language-switch
      text-transform: uppercase
    &.hidden
      margin-top: -1.5em
  .scroll-pls
    position: absolute
    bottom: 10px
    width: 100%
    text-align: center
    padding-top: 2em
    .info
      font-size: 1em
    .fa
      font-size: 2.3em
      a
        text-decoration: none
        color: inherit
  .background
    .scroll-pls
      color: #fff
      text-shadow: 0 0 1px #88a
      a
        color: #fff
        text-decoration: none
  .box
    padding: 4em 0 2em 0
    width: 100%
    overflow: inherit

  .footer
    padding: 4em 0 2em 0
    color: #2a2a2a