#social-plugins
  #big-fb-like.fb-page{"data-hide-cover" => "false", "data-href" => "https://www.facebook.com/muchywszprychach", "data-show-facepile" => "true", "data-show-posts" => "false", "data-width" => "500"}
    .fb-xfbml-parse-ignore
      %blockquote{:cite => "https://www.facebook.com/muchywszprychach"}
        %a{:href => "https://www.facebook.com/muchywszprychach"}= t('social.like_app')
  #small-fb-like.fb-page{"data-hide-cover" => "false", "data-href" => "https://www.facebook.com/muchywszprychach", "data-show-facepile" => "true", "data-show-posts" => "false", "data-width" => "280"}
    .fb-xfbml-parse-ignore
      %blockquote{:cite => "https://www.facebook.com/muchywszprychach"}
        %a{:href => "https://www.facebook.com/muchywszprychach"}= t('social.like_app')