.fb-page{"data-hide-cover" => "true", "data-href" => "https://www.facebook.com/muchywszprychach", "data-show-facepile" => "false", "data-show-posts" => "false"}
  .fb-xfbml-parse-ignore
    %blockquote{:cite => "https://www.facebook.com/muchywszprychach"}
      %a{:href => "https://www.facebook.com/muchywszprychach"} Muchy w Szprychach