@import 'scaffold'

#admin-panel
  width: 944px
  margin: 4em auto

  .navbar
    a
      text-decoration: none
      color: #359
      &:hover
        color: red
        text-decoration: underline
        background-color: inherit

  .input
    margin-bottom: 20px
    label
      margin: 0 5px 5px 0
      font-weight: bold
    abbr
      border-bottom: inherit
  .input-image-preview
    display: inline-block
  .input.file
    display: inline-block
    width: 200px
    margin-right: 40px

  .fa-eye
    color: #057
    margin-right: 5px
  .fa-eye-slash
    color: #700
    margin-right: 5px